<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.switchyard.component.camel.switchyard">

    <resources>
        <resource-root path="switchyard-component-camel-switchyard-${project.version}.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.apache.camel.core"/>
        <module name="org.switchyard.api"/>
        <module name="org.switchyard.deploy"/>
        <module name="org.switchyard.common"/>
        <module name="org.switchyard.common-camel"/>
        <module name="org.switchyard.component.common"/>
        <module name="org.switchyard.component.common.camel"/>
        <module name="org.springframework" />
    </dependencies>
</module>
